<!DOCTYPE html>
<html>
<head>
    <title>ArgoCD App</title>
    <style>
        body {
            background-color: {{ color }};
            color: white;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Bem-vindo ao Deploy com ArgoCD!</h1>
    <h3>(Versão Reiniciada)</h3>
</body>
</html>
